<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.blog.dao.BlogDao">
 
	<resultMap type="Blog" id="BlogResult">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="summary" column="summary"/>
		<result property="releaseDate" column="releaseDate"/>
		<result property="clickHit" column="clickHit"/>
		<result property="replyHit" column="replyHit"/>
		<result property="content" column="content"/>
		<result property="keyWord" column="keyWord"/>
		
		<association property="blogType" column="type_id" select="ssm.blog.dao.BlogTypeDao.findById">
		</association>
	</resultMap>
	
	
	<!-- //获取前一篇blog信息
	public Blog getPrevBlog(Integer id); -->
	<select id="getPrevBlog" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id&lt;#{id} ORDER BY id DESC LIMIT 1
	</select>
	
	
	<!-- 	// 获取后一篇博客信息
	public Blog getNextBlog(Integer id); -->
	<select id="getNextBlog" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id&gt;#{id} ORDER BY id ASC LIMIT 1
	</select>
	
	
	
	<!--// 获取博客信息，按照时间分类的
		public List<Blog> getBlogData();  
	-->
	<select id="getBlogData" resultMap="BlogResult">
		  SELECT 
		    DATE_FORMAT(releaseDate,'%Y年%m月') AS releaseDateStr,
		    COUNT(*) AS blogCount
		  FROM
		    t_blog 
		  GROUP BY DATE_FORMAT(releaseDate,'%Y年%m月')
		  ORDER BY releaseDate DESC
	</select>
	
	
	<!-- //通过TypeId 博客类型查询博客blog信息
		public Integer getBlogByTypeId(Integer typeId); 
	-->
	<select id="getBlogByTypeId" parameterType="Integer" resultType="Integer">
		select count(*) from t_blog where type_id=#{typeId}
	</select>
	
	<!-- // 添加博客
	public Integer addBlog(Blog blog); 
	-->
	<insert id="addBlog" parameterType="Blog" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_blog VALUES(null,#{title},#{summary},now(),0,0,#{content},#{keyWord},#{blogType.id})
	</insert>
	
	
	<!--// 更新博客信息
	public Integer update(Blog blog);  -->
	<update id="update" parameterType="Blog">
		update t_blog
		<set>
			<if test="title!=null and title!=''">
				title=#{title},
			</if>
			<if test="summary!=null and summary!=''">
		 		summary=#{summary},
		 	</if>
		 	<if test="content!=null and content!=''">
		 		content=#{content},
		 	</if>
		 	<if test="blogType.id!=null">
				type_id=#{blogType.id},
			</if>
			<if test="clickHit!=null">
				clickHit=#{clickHit},
			</if>
			<if test="replyHit!=null">
				replyHit=#{replyHit},
			</if>
			<if test="keyWord!=null and keyWord!=''">
		 		keyWord=#{keyWord},
		 	</if>
		</set>
		where id=#{id}	
	</update>
	
	
	<!--public List<Blog> listBlog(Map<String, Object> map);-->
	<select id="listBlog" parameterType="Map" resultMap="BlogResult">
		select * from t_blog
		<where>
			<if test="title!=null and title!=''">
				and title like #{title}
			</if>
			<if test="typeId!=null and typeId!=''">
				and type_id=#{typeId}
			</if>
			<if test="releaseDateStr!=null and releaseDateStr!=''">
				and DATE_FORMAT(releaseDate,'%Y年%m月')=#{releaseDateStr}
			</if>
		</where>
		ORDER BY releaseDate DESC
		<if test="start!=null and pageSize!=null">
		 	  limit #{start},#{pageSize}
		</if>
	</select>
	  
	<!--   public Long getTotal(Map<String, Object> map); -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_blog
		<where>
			<if test="title!=null and title!=''">
				and title like #{title}
			</if>
			<if test="typeId!=null and typeId!=''">
		 		and type_id=#{typeId}
		 	</if>
		 	<if test="releaseDateStr!=null and releaseDateStr!=''">
		 		and DATE_FORMAT(releaseDate,'%Y年%m月')=#{releaseDateStr}
		 	</if>
		</where>
	</select>
	
	<!-- 	public Blog findById(Integer id); -->
	<select id="findById" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id=#{id}
	</select>
	
	<!-- //根据id删除博客
	public Integer deleteBlog(Integer id); -->
	<delete id="deleteBlog" parameterType="Integer">
		delete from t_blog where id=#{id}
	</delete>
	
	

</mapper> 